@import url('https://fonts.googleapis.com/css?family=Buda:300|Muli&display=swap');

.employee-lineup-container {
    padding-top: 45px;
    border: 3px solid #30d8c3;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.question-header {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.employee-thumbnail{
    height: 100%;
    width: 100%;
    cursor: pointer;
}


.card-img-overlay-success {
    background-color: rgba(0, 255, 0, .5);
}

.card-img-overlay-fail {
    background-color: rgba(255, 0, 0, .5);
}