@import url('https://fonts.googleapis.com/css?family=Buda:300|Muli&display=swap');

.App {
  text-align: center;
}

.main-header-section {
  padding-bottom: 45px;
}

.main-header {
  font-family: 'Buda', cursive;
  padding-top: 24px;
  font-size: 65px;
}
